@use "reset.scss";
@forward "mixin.scss";

:root {
    font-size: 14px;
    --color-1: #00273e;
    --color-2: #00a3ff;
    --color-2-hover: #009af2;
    --color-2-light: #f0f6fa;
    --color-2-light-hover: #e8f1f7;
    --color-3: #00000080;
    --color-4: #0000001a;
    --color-5: #ffffff;
    --color-5-hover: #f9f9f9;
    --color-bg: #f6f6f6;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin-inline: auto;
}
